<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.karimo299.dontkillmymusic/prefChanged</string>
			<key>defaults</key>
			<string>com.karimo299.dontkillmymusic</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.karimo299.dontkillmymusic/prefChanged</string>
			<key>defaults</key>
			<string>com.karimo299.dontkillmymusic</string>
			<key>key</key>
			<string>AppLock</string>
			<key>label</key>
			<string>Enable Applock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.karimo299.dontkillmymusic/prefChanged</string>
			<key>defaults</key>
			<string>com.karimo299.dontkillmymusic</string>
			<key>key</key>
			<string>EasyFix</string>
			<key>label</key>
			<string>EasySwitcherX Fix</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>PostNotification</key>
			<string>com.karimo299.dontkillmymusic/prefChanged</string>
			<key>defaults</key>
			<string>com.karimo299.dontkillmymusic</string>
			<key>label</key>
			<string>Default Locked Apps</string>
			<key>DefaultValue</key>
			<string>0 apps</string>
			<key>action</key>
			<string>selectLockedApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>PostNotification</key>
			<string>com.karimo299.dontkillmymusic/prefChanged</string>
			<key>defaults</key>
			<string>com.karimo299.dontkillmymusic</string>
			<key>label</key>
			<string>Blacklisted Apps</string>
			<key>DefaultValue</key>
			<string>0 apps</string>
			<key>action</key>
			<string>selectDisabledApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Developer</string>
			</dict>
			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>height</key>
				<integer>56</integer>
				<key>label</key>
				<string>Karimo299</string>
				<key>user</key>
				<string>Karimo299</string>
				<key>action</key>
				<string>tweet</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Designer</string>
			</dict>
			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>height</key>
				<integer>56</integer>
				<key>label</key>
				<string>HasteDesigns</string>
				<key>user</key>
				<string>hastedesigns</string>
				<key>action</key>
				<string>hasteTweet</string>
			</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>footerText</key>
			<string>Thanks for downloading, enjoy :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
		  <string>github.png</string>
			<key>label</key>
			<string>Github</string>
			<key>action</key>
			<string>git</string>
		</dict>
	</array>
	<key>title</key>
	<string>DontKillMyMusic</string>
</dict>
</plist>
