Package: com.karimo299.dontkillmymusic
Name: DontKillMyMusic
Depends: mobilesubstrate, preferenceloader, applist, ws.hbang.common
Version: 1.3.0
Architecture: iphoneos-arm
Description: A tweak that prevents you from killing the app that is currently playing, and other apps if you wish so.
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
