Package: com.karimo299.dontkillmymusic
Name: DontKillMyMusic
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Prevents you from accidentally killing now playing music.
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
